/* .objective-name{
    font-family: Sans-serif;
}

.objective-date{
    font-family: Arial, Helvetica, sans-serif;
}

.objective-completed{
    font-family: monospace;
}

.single-task{
    display: flex;
    flex-direction: row;
} */





/* Style for the single task div */
.single-task {
    margin: 4px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style for the task name */
  .objective-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style for the task date */
  .objective-date {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Style for the task completed */
  .objective-completed {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Style for the task links */
  .task-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Style for the edit link */
  .edit-link {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Style for the delete button */
  .delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
  }
  